
PYLsystems/obj/Debug/PYLSystems.csproj.GenerateResource.Cache
PYLsystems/obj/Debug/PYLsystems.frmCustomerAccount.resources
PYLsystems/obj/Debug/PYLsystems.frmDamageItems.resources
PYLsystems/obj/Debug/PYLsystems.frmFrameStockInSupplyStockOut.resources
PYLsystems/obj/Debug/PYLsystems.frmFrameStockInUpdate.resources
PYLsystems/obj/Debug/PYLsystems.frmInventoryHomePage.resources
.vs/PYLSystems/v15/Server/sqlite3/storage.ide-wal
.vs/PYLSystems/v15/Server/sqlite3/storage.ide-shm
.vs/PYLSystems/v15/.suo
PYLsystems/obj/Debug/PYLsystems.csproj.CoreCompileInputs.cache
PYLsystems/obj/Debug/PYLsystems.csproj.CoreCompileInputs.cache
PYLsystems/obj/Debug/PYLsystems.csproj.CoreCompileInputs.cache
PYLsystems/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PYLsystems/obj/Debug/PYLsystems.csproj.CoreCompileInputs.cache
PYLsystems/obj/Debug/PYLsystems.frmJobOrderDetails.resources
PYLsystems/obj/Debug/PYLsystems.frmJobOrderTransaction.resources
PYLsystems/obj/Debug/PYLsystems.frmRemainingSupplyFrames.resources
.vs/PYLSystems/v15/.suo
.vs/PYLSystems/v15/Server/sqlite3/storage.ide
PYLsystems/Program.cs
PYLsystems/Program.cs
