
PYLsystems/obj/Debug/PYLSystems.csproj.GenerateResource.Cache
PYLsystems/obj/Debug/PYLsystems.frmCustomerAccount.resources
PYLsystems/obj/Debug/PYLsystems.frmDamageItems.resources
PYLsystems/obj/Debug/PYLsystems.frmFrameStockInSupplyStockOut.resources
PYLsystems/obj/Debug/PYLsystems.frmFrameStockInUpdate.resources
PYLsystems/obj/Debug/PYLsystems.frmInventoryHomePage.resources
